@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap');

body {
    padding:0;
    margin:0;
    overflow: hidden;
    user-select: none;
    background:none;
}

#intro {
    font-family: 'Rubik', sans-serif;
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: black;
    color:white;
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: scale(1.01);
    visibility: visible;
    opacity: 1;
}

.invisible {
    transition: 1s;
    visibility: hidden !important;
    opacity: 0 !important;
}

#content_wrapper {
    width: 800px;
    height: 650px;
    background: transparent;
}

::-webkit-scrollbar {
    width: 30px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

#titlebar {
    width:100vw;
    height:4vh;
    background:none;
    /*position:absolute;*/
    display:block;
    z-index:4;
    -webkit-app-region: drag;
    text-align: right;
}

#close {
    -webkit-app-region: no-drag;
}

#mail_cards {
    /*background:none;*/
    width: 100vw;
    height: 96vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-flow: row;
    scroll-snap-type: x mandatory;
    z-index: 3;
    -webkit-app-region: no-drag;
    border-radius: 5px;
}

#backgroundwrap {
    position: absolute;
    width: 100vw;
    height:100vh;
    display: block;
    background-size: 100vh;
    z-index: -1;
    filter: blur(10px);
    transform: scale(1.05);
    border-radius: 10px;
    border:1px inset transparent;
}

.card {
    display: inline-block;
    width: 60vw;
    flex-basis: 60vw;
    min-height: 60vh;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    background:white;
    margin: 20vw;
    padding: 3vw;
    flex-shrink: 0;
    flex-grow: 0;
    transition-duration: 0.5s;
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
    overflow: hidden;
    scroll-snap-align: center;
    scroll-margin-block: 21vw;
    -webkit-app-region: no-drag;
}

.card_last {
    display: inline-flex;
    width: 60vw;
    flex-basis: 60vw;
    min-height: 60vh;
    border-radius: 10px;
    background:none;
    margin: 20vw;
    padding: 3vw;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    overflow: hidden;
    scroll-snap-align: center;
    scroll-margin-block: 21vw;
    -webkit-app-region: no-drag;
}

.card_blank {
    display: inline-flex;
    width: 1vw;
    flex-basis: 1vw;
    min-height: 1vh;
    border-radius: 10px;
    background:none;
    margin: 20vw;
    padding: 3vw;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card:hover {
    -webkit-box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
    transform: scale3d(1.1, 1.1, 1.1);
}

.card_content {
    width:80%;
    overflow: hidden;
    padding:10px;
}

.title2 {
    font-size:18pt;
    padding: 8px 4px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    overflow: hidden;
}

.title {
    font-size:18pt;
    padding: 8px 4px;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    width: 100%;
    overflow: hidden;
}
